.App {
  padding-top: 6rem;
  min-height: 100vh;
}

.navbar {
  background-color: #ef5350 !important;
}

.card-header {
  text-align: center;
}

.card-img-top {
  width: 40%;
  transition: 0.5s;
}

.card-img-top:hover {
  width: 50%;
}

.progress {
  height: 20px;
  margin-bottom: 8px;
}