.App {
  padding-top: 6rem;
  min-height: 100vh;
}

.navbar {
  background-color: #ef5350 !important;
}


.card {
  border-radius: 0.8rem;
  border: 3px solid;
}

.card.shadow {
box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.15) !important;
transition: 0.5s;
}

.card.shadow:hover {
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.15) !important;
}

.card-header {
  text-align: center;
  text-transform: uppercase;
}

.card-img-top {
  width: 40%;
  transition: 0.5s;
  border-radius: 50%;
  margin-top: 20px;
}

.card-img-top:hover {
  width: 55%;
  cursor: pointer;
}


.poke-description {
  font-size: 12px;
  font-weight: bold;
  color: #555353;
}


.badge {
  margin-bottom: 20px;
}

.progress {
  height: 20px;
  margin-bottom: 8px;
}